/* globals.css */
html, body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: Poppins, sans-serif; 
}

* {
    box-sizing: border-box;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.content {
    flex: 1;
}

h1 {
    font-weight: normal;
}

body, p {
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: rgb(51,206,171);
}
